{% extends 'namaste_customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1 style="color: #ffffff;">About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center" style="color: #ffffff;">
            <p>Namaste India Restaurant is known for offering an authentic Indian dining experience, featuring a variety of traditional Indian dishes. The restaurant typically prides itself on a warm, welcoming atmosphere, often reflecting the rich cultural heritage of India. Here's a general overview of what you might expect from Namaste Restaurant:</p>
            <p>Cuisine:The menu typically includes a wide range of Indian dishes, from popular street foods to classic curries and tandoori items.Vegetarian, vegan, and gluten-free options are often available to cater to diverse dietary preferences.</p>
            <p>Ambiance:The decor usually combines traditional Indian elements with modern touches, creating a cozy and inviting environment.Often, the restaurant features Indian music and artwork, enhancing the cultural experience.</p>
            <p>Service:The staff is usually known for their hospitality, ensuring a pleasant dining experience for guests.Service often includes recommendations for pairing dishes and accommodating special requests.</p>
            <p>Special Features: Many locations offer catering services for events and special occasions.Some Namaste Restaurants may also host cultural events, cooking classes, or special themed nights.</p>
        </div>
    </div>
</div>
{% endblock content %}